@font-face {
  font-family: "Apercu Mono";
  src: url("../font/Apercu Mono.otf");
}
@font-face {
  font-family: "Apercu Light";
  src: url("../font/Apercu Light.otf");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Apercu Light", sans-serif;
  line-height: 2;
  font-size: 1.2em;
  text-align: justify;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

/* Header font styles */

h1 {
  font-family: "Apercu Mono", sans-serif;
  text-transform: uppercase;
  font-size: 3em;
}

h2 {
  font-family: "Apercu Mono", sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
}

/* Header background */

header {
  background-image: url("../img/SNIC_Glitch19_1920-1080px.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Header section */

.section-header {
  display: flex;
  flex-direction: column;
}

.event-logo-wrapper {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-grow: 1;
}

.event-logo-wrapper img {
  width: 75%;
}

.partner-wrapper {
  flex-grow: 0;
  width: 100%;
  background: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.partner-wrapper img {
  height: 5vh;
}

@media (max-width: 776px) {
  .partner-wrapper img {
    width: 50%;
  }
}

/* Text sections */

section {
  color: black;
  position: relative;
  padding: 20px;
}

section.section-dark {
  background-color: #2D2E83;
  color: white;
}

.text-centered {
  max-width: 800px;
  padding: 20px;
  z-index: 2;
}

/* Bars */

.bar {
  position: fixed;
  z-index: 1;
}

.white {
  background: white;
}

.brown {
  background: #D5A361;
}

.blue {
  background: #2D2E83;
}


.bar-1 {
  width: 10px;
  height: 200px;
  top: 500px;
  left: 50px;
}

.bar-2 {
  width: 10px;
  height: 600px;
  top: 600px;
  left: 120px;
}

.bar-3 {
  width: 10px;
  height: 100px;
  top: 200px;
  left: 200px;
}
