    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "SNiC MobilIT",
      "alternateName": "Nationaal Informatica Congres 2021 - MobilIT",
      "description": "Lorem ipsum dolor sit amet",
      "image": "https://mobilit.snic.nl/icon.png",
      "url": "https://mobilit.snic.nl",
      "about": {
        "@type": "Thing",
        "name": "Mobility",
        "description": "Lorem ipsum dolor sit amet"
      },
      "organizer": {
        "@type": "Organization",
        "name": "Stichting Nationaal Informatica Congres",
        "url": "https://stichting.snic.nl"
      },
      "startDate": "2021-11-23",
      "endDate": "2021-11-23",
      "doorTime": "2021-11-23T10:00:00",
      "location": {
        "@type": "Place",
        "name": "Theater & Congres Orpheus",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Churchillplein 1",
          "addressLocality": "Apeldoorn",
          "postalCode": "7314 BZ",
          "addressCountry": "NL"
        }
      },
      "inLanguage": "English",
      "eventStatus": "https://schema.org/EventPostponed",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "audience:": {
        "audienceType": "computer science students",
        "geographicArea": {
          "@type": "AdministrativeArea",
          "address": "The Netherlands"
        }
      },
      "potentialAction": "Participation",
      "typicalAgeRange": "18-26",
      "maximumAttendeeCapacity": "750",
      "remainingAttendeeCapacity": "0",
      "performer": [
        {
          "@type": "Person",
          "name": "Spreker 1"
        },
        {
          "@type": "Person",
          "name": "Spreker 2"
        }
      ],
      "offers": [{
        "@type": "Offer",
        "name": "Thalia",
        "price": "10",
        "priceCurrency": "EUR",
        "validFrom": "2021-09-01",
        "url": "https://thalia.nu/event/xxx",
        "availability": "https://schema.org/InStock"
      },{
        "@type": "Offer",
        "name": "CognAC",
        "price": "10",
        "priceCurrency": "EUR",
        "validFrom": "2021-09-01",
        "url": "https://thalia.nu/event/xxx",
        "availability": "https://schema.org/SoldOut"
      }],
      "sponsor": [
        {
          "@type": "Organization",
          "name": "ASML",
          "url": "https://asml.nl"
        },
        {
          "@type": "Organization",
          "name": "Nedap",
          "url": "https://nedap.nl"
        }
      ],
      "eventSchedule": [
        {
          "@type": "Schedule",
          "startDate": "2021-11-23",
          "endDate": "2021-11-23",
          "startTime": "10:00",
          "endTime": "11:00",
          "scheduleTimezone": "Europe/London",
          "name": "Opening ceremony",
          "description": "Lorem ipsum dolor sit amet"
        },
        {
          "@type": "Schedule",
          "startDate": "2021-11-23",
          "endDate": "2021-11-23",
          "startTime": "11:00",
          "endTime": "12:00",
          "scheduleTimezone": "Europe/London",
          "name": "Sessie 1",
          "description": "Lorem ipsum dolor sit amet"
        }

      ]
    }
